/**
 * Example of invalid CSS file. For test usage only.
 */

/* all-tags qualifier shouldn't be used */
* {
    color: black;
}

/* ID and tag name shouldn't be used together */
div#test {
    color: red;
}

/* all in one line */
span { color: red; }

/* empty body */
textarea { }
