 ------
 We Need Coders Passionate About Quality
 ------
 Yegor Bugayenko
 ------
 2013-01-13
 ------

~~
~~ Copyright (c) 2011-2013, ReXSL.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the ReXSL.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

We Need Coders Passionate About Quality

  ReXSL Java web framework is a RESTful integration of JAX-RS, JAXB and XSLT.
  Using ReXSL you develop a RESTful API that automatically, in runtime,
  turns into an HTML web-site by means of XSLT.

  We started to develop ReXSL in August 2011 and it is already being
  successfully used by a few open source
  (e.g. {{{http://www.s3auth.com}s3auth.com}})
  and commercial (e.g. {{{http://p.expinia.com}expinia.com}}) projects.

  We need your help with coding, in order to release the first stable
  version (we're still in 0.x state). If you're passionate about
  quality of code and is interested to contribute or learn something new,
  email me: {{{mailto:yegor@tpc2.com}yegor@tpc2.com}}.

