  ---
  Exception Trap
  ---
  Yegor Bugayenko
  ---
  2014-11-02
  ---

Exception Trap

  Read {{{./apidocs-${project.version}/com/rexsl/core/ExceptionTrap.html}<<<ExceptionTrap>>>}}
  javadoc.

  Configure it in your <<<WEB-INF/web.xml>>> like this:

+--
<servlet>
  <servlet-name>ExceptionTrap</servlet-name>
  <servlet-class>com.rexsl.core.ExceptionTrap</servlet-class>
  <init-param>
    <param-name>template</param-name>
    <param-value>/com/foo/exception.html</param-value>
  </init-param>
</servlet>
<servlet-mapping>
  <servlet-name>ExceptionTrap</servlet-name>
  <url-pattern>/trap</url-pattern>
</servlet-mapping>
<error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/trap</location>
</error-page>
+--

  Every exception will be caught by this servlet and rendered
  as "service not available" HTML pages. Read
  {{{./apidocs-${project.version}/com/rexsl/core/ExceptionTrap.html}javadoc}}
  for more information.
