  ---
  HTTP Basic Authentication for JAX-RS Resources
  ---
  Yegor Bugayenko
  ---
  2014-11-02
  ---

HTTP Basic Authentication for JAX-RS Resources

  HTTP basic authentication is possible through the same
  {{{./apidocs-${project.version}/com/rexsl/page/auth/AuthInset.html}<<<AuthInset>>>}}
  used in {{{./inset-oauth.html}OAuth}}:

+--
public abstract class BaseRs extends BaseResource {
  @Inset.Runtime
  public final AuthInset auth() {
    return new AuthInset(this, "secret-key", "salt").with(
      new HttpBasic(
        this,
        new HttpBasic.Vault() {
          @Override
          public Identity authenticate(String user, String password) {
            // authenticate and return an identity or
            // Identity.ANONYMOUS
          }
        }
      )
    );
  }
}
+--

  When your custom implementation of
  {{{./apidocs-${project.version}/com/rexsl/page/auth/HttpBasic.html}<<<HttpBasic.Vault>>>}}
  can't authenticate the user it has to return
  <<<Identity.ANONYMOUS>>>. Otherwise, it returns a proper
  {{{./apidocs-${project.version}/com/rexsl/page/auth/Identity.html}<<<Identity>>>}}.
