# Minify JS and CSS

It is recommended to minify JS and CSS files
before packaging them into `war` archive. This is how
you do it in your `pom.xml`:

```
<build>
  <pluginManagement>
    <plugins>
      <plugin>
        <artifactId>maven-war-plugin</artifactId>
        <configuration>
          <warSourceExcludes>js/**, css/**</warSourceExcludes>
        </configuration>
      </plugin>
    </plugins>
  </pluginManagement>
  <plugins>
    <plugin>
      <groupId>com.samaxes.maven</groupId>
      <artifactId>minify-maven-plugin</artifactId>
      <version>1.7.2</version>
      <executions>
        <execution>
          <configuration>
            <charset>UTF-8</charset>
            <cssSourceIncludes>
              <include>*.css</include>
            </cssSourceIncludes>
            <jsSourceIncludes>
              <include>*.js</include>
            </jsSourceIncludes>
            <jsEngine>CLOSURE</jsEngine>
            <nosuffix>true</nosuffix>
            <skipMerge>true</skipMerge>
          </configuration>
          <goals>
            <goal>minify</goal>
          </goals>
        </execution>
      </executions>
    </plugin>
  </plugins>
</build>
```


