  ---
  ReXSL, Quick Start Guide
  ---
  Yegor Bugayenko
  ---
  2014-11-02
  ---

ReXSL, Quick Start Guide

  Start a new web project with Maven:

+--
mvn archetype:generate -DarchetypeArtifactId=maven-archetype-webapp
+--

  Configure <<<web.xml>>> and <<<pom.xml>>> as {{{./web-xml-configuration.html}explained here}}.

  Create a new <<<src/main/java/foo/IndexRs.java>>> class:

+--
package foo;
import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
@Path("/")
public class IndexRs {
  @GET
  @Produces("text/xml")
  public String home() {
    return "<?xml version='1.0' encoding='UTF-8'?>"
      + "<?xml-stylesheet type='text/xsl' href='/xsl/index.xsl'?>"
      + "<page><message>Hello, world!</message></page>";
  }
}
+--

  Then, create <<<src/main/webapp/xsl/index.xsl>>>:

+--
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns="http://www.w3.org/1999/xhtml" version="1.0">
  <xsl:template match="/page">
    <html xml:lang="en">
      <body>
        <p>
          <xsl:text>A message for you: </xsl:text>
          <xsl:value-of select="message" />
        </p>
      </body>
    </html>
  </xsl:template>
</xsl:stylesheet>
+--

  That's it. You WAR is ready and you can run deploy it to
  any web container.
