# Adding Default HATEOAS Links To JAX-RS Page

It is a good practice in
[HATEOAS](http://en.wikipedia.org/wiki/HATEOAS) to have certain
[link relations](http://en.wikipedia.org/wiki/Link_relation)
between pages. There are a few default link relations that you
may want to have in every page.
[`LinksInset`](./apidocs-${project.version}/com/rexsl/page/inset/LinksInset.html)
simplifies them:

```java
@Inset.Default(LinksInset.class)
public abstract class BaseRs extends BaseResource {
  // other methods
}
```

The page will be rendered like this:

```xml
<page>
  <links>
    <link rel="home" href="http://www.example.com/" />
    <link rel="self" href="http://www.example.com/some-path/" />
  </links>
</page>
```

It is recommended to use
[`LinksInset`](./apidocs-${project.version}/com/rexsl/page/inset/LinksInset.html)
for all websites.
