# Introduction to ReXSL Testing

There are three types of tests you should use: unit tests, integration
tests and catapult tests (that's how we call them). You know what
unit tests are, right? If not, we recommend to read this book first:
["Growing Object-Oriented Software, Guided by Tests"](http://www.amazon.com/Growing-Object-Oriented-Software-Guided-Tests/dp/0321503627),
by Steve Freeman and Nat Pryce, Addison-Wesley Professional, October 2009.

We created two supplementary classes that help you to test
your JAXB Model:
[JaxbConverter](./rexsl-test/apidocs-${project.version}/com/rexsl/test/JaxbConverter.html) and
[XhtmlMatchers](./rexsl-test/apidocs-${project.version}/com/rexsl/test/XhtmlMatchers.html)
(read their JavaDocs for more details).

Interesting part is integration and catapult testing.

To be continued...

Most important integration testing
"[checks](./rexsl-maven-plugin/apidocs-${project.version}/com/rexsl/maven/checks/DefaultChecksProvider.html)".

Some new checks will appear in the next versions of
[Maven plugin](./rexsl-maven-plugin/index.html).

