# ReXSL core module

There are two classes that you should use in your project (both
of them are always mandatory):
[`RestfulServlet`](./apidocs-${project.version}/com/rexsl/core/RestfulServlet.html) and
[`XsltFilter`](./apidocs-${project.version}/com/rexsl/core/XsltFilter.html). Use them
in `WEB-INF/web.xml`:

```xml
<filter>
  <filter-name>XsltFilter</filter-name>
  <filter-class>com.rexsl.core.XsltFilter</filter-class>
</filter>
<filter-mapping>
  <filter-name>XsltFilter</filter-name>
  <servlet-name>RestfulServlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>ERROR</dispatcher>
</filter-mapping>
<servlet>
  <servlet-name>RestfulServlet</servlet-name>
  <servlet-class>com.rexsl.core.RestfulServlet</servlet-class>
  <init-param>
    <param-name>com.rexsl.PACKAGES</param-name>
    <param-value>com.example.foo</param-value>
  </init-param>
</servlet>
<servlet-mapping>
  <servlet-name>RestfulServlet</servlet-name>
  <url-pattern>/*</url-pattern>
</servlet-mapping>
```

[`RestfulServlet`](./apidocs-${project.version}/com/rexsl/core/RestfulServlet.html) is
responsible for handling of JAX-RS requests and converting your JAXB annotated
classes into XML documents.

[`XsltFilter`](./apidocs-${project.version}/com/rexsl/core/XsltFilter.html) is converting
XML output documents into XHTML when necessary.

This dependency you add to `pom.xml` (or download
[`rexsl-core-${project.version}.jar`](http://repo1.maven.org/maven2/com/rexsl/rexsl-core/${project.version}/rexsl-core-${project.version}.jar)
and add it to classpath):

```xml
<dependency>
  <groupId>com.rexsl</groupId>
  <artifactId>rexsl</artifactId>
  <version>${project.version}</version>
</dependency>
```
