 ------
 Log4j Cloud Appender
 ------
 Yegor Bugayenko
 ------
 2012-02-26
 ------

~~
~~ Copyright (c) 2012, ReXSL.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the ReXSL.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Log4j Cloud Appender

  Read {{{./apidocs/com/rexsl/core/log/CloudAppender.html}CloudAppender}}
  javadoc.

  Configure it in your <<<log4j.properties>>> like this (just an example,
  which uses {{{http://www.loggly.com}loggly.com}} HTTP log
  consuming interface):

+--
log4j.rootLogger=WARN, LOGGLY
log4j.appender.LOGGLY=com.rexsl.log.CloudAppender
log4j.appender.LOGGLY.feeder=com.rexsl.log.HttpFeeder
log4j.appender.LOGGLY.feeder.url=https://logs.loggly.com/inputs/0604e96...
log4j.appender.LOGGLY.feeder.split=true
log4j.appender.LOGGLY.layout=org.apache.log4j.PatternLayout
log4j.appender.LOGGLY.layout.ConversionPattern=[%5p] %t %c: %m%n
+--

  You can extend it with your own feeding mechanisms. Just implement
  the {{{./apidocs/com/rexsl/core/log/Feeder.html}Feeder}}
  interface and add an instance of the class to the
  appender.

