# How to initialize the application?

Let's say you want to add initial data into your application before
all other tests are performed. For example, you need to fill the
database somehow. It's all can be done by a setup script:

```
/foo
  pom.xml
  /src
    /main
    /test
      /rexsl
        /setup
          AddSomeData.groovy
```

The script will be called right after the application is started
in servlet container.
