# ReXSL Maven Plugin

This plugin is helping you to test your ReXSL-powered
web application and perform some pre-packaging changes to your
web assets (like CSS/XSL stylesheets, JavaScript code, etc.)

Read more about its [usage](./usage.html).

The workflow of the plugin is this:

 * Statically analyze the content of `src/main/webapp` and fail
   if any prohibited content found there, for example incorrectly formatted
   CSS stylesheet or `web.xml` file not compliant to its XSD schema.

 * Perform XSL transformations on all `xml` files found in
   `src/test/rexsl/xml` (using your XSL stylesheets attached to them)
   and validate that resulting HTML documents are compliant to the rules
   of W3C and your `groovy` files found in `src/test/rexsl/xhtml`.

 * Run all pre-start `groovy` scripts from
   `src/test/rexsl/bootstrap
   from plugin class loader.

 * Start Java servlet container (Jetty) with your classes and resources,
   emulating its real deployment to a real container.

 * Run all startup data initializing `groovy` scripts from
   `src/test/rexsl/setup`, inside the container and in its class loader.

 * Run all `groovy` tests found in `src/test/rexsl/scripts`.

 * Shutdown the container and report success.

Of course, at any step build may fail.

Detailed list of all checks is
[here](./apidocs/com/rexsl/maven/checks/DefaultChecksProvider.html).

There are a number of cookbook advices, which will help:

 * [How to add application data before tests?](./setup.html)

 * [How to pre-configure the application and mock resources?](./bootstrap.html)

 * [How to add extra functionality during tests?](./stubs.html)

 * [How to use Selenium in ReXSL testing?](./selenium.html)

