# XML Hamcrest Matchers

[`XhtmlMatchers`](./apidocs-${project.version}/com/rexsl/test/XhtmlMatchers.html)
is a utility class with static methods that create
XML Hamcrest matchers, to be used in unit tests, for example:

```java
public class FooTest {
  @Test
  public void buildsValidXml() {
    MatcherAssert.assertThat(
      "<data><employee id='33'><name>Jeff</name></employee></data>",
      XhtmlMatchers.hasXPath("/data/employee[@id=33]/name")
    );
  }
}
```

Besides that, there is a convenient static method that
converts its input to XML, that correctly renders itself
in unit test output:

```java
public class FooTest {
  @Test
  public void buildsValidXml() {
    Source source = // ... get it somewhere
    MatcherAssert.assertThat(
      XhtmlMatchers.xhtml(source),
      XhtmlMatchers.hasXPath("/data/employee[@id=33]/name")
    );
  }
}
```

Don't forget to add these two dependencies to your classpath:

```xml
<dependency>
  <groupId>org.hamcrest</groupId>
  <artifactId>hamcrest-core</artifactId>
  <version>1.3</version>
  <scope>test</scope>
</dependency>
<dependency>
  <groupId>org.hamcrest</groupId>
  <artifactId>hamcrest-library</artifactId>
  <version>1.3</version>
  <scope>test</scope>
</dependency>
```
