# XHTML/XML test tools

The module contains a collection of usable tools for testing of
ReXSL-powered application (or any other RESTful server):

 * [`JaxbConverter`](./apidocs-${project.version}/com/rexsl/test/JaxbConverter.html)
   &mdash; convenient JAXB-to-XML converter;

 * [`XhtmlMatchers`](./apidocs-${project.version}/com/rexsl/test/XhtmlMatchers.html)
   &mdash; XML/XHTML Hamcrest matchers.

Include this dependency into your project (or download
[`rexsl-test-${project.version}.jar`](http://repo1.maven.org/maven2/com/rexsl/rexsl-test/${project.version}/rexsl-test-${project.version}.jar)
and add to classpath):

```xml
<dependency>
  <groupId>com.rexsl</groupId>
  <artifactId>rexsl-test</artifactId>
  <version>${project.version}</version>
  <scope>test</scope>
</dependency>
```
