# ReXSL Maven Archetype

To create your new ReXSL-powered project just run::

```
$ mvn archetype:generate \
  -DarchetypeGroupId=com.rexsl \
  -DarchetypeArtifactId=rexsl-maven-archetype \
  -DarchetypeVersion=${project.version}
```

A new directory will be created with all necessary files. Go into it
and type:

```
$ mvn clean package rexsl:run -Drexsl.port=9099
```

The application will start and, in a minute, you can point
your browser to `http://localhost:9099`. A "hello, world!" message
should indicate the success.

